﻿.createBottomBorder {
    border-bottom: 1px solid #000;
}

* {
    padding: 0;
    margin: 0 auto;
}

body {
    font-family: Arial,sans-serif;
    line-height: 1.3em;
    font-size: 13px;
    overflow: hidden;
    text-align: center;
    background: #fff;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

img {
    border: 0;
}

html, body, #mapCont {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    scrollbar-base-color: #ffa12d;
    scrollbar-3dlight-color: #900;
    scrollbar-track-color: #fbd48c;
    scrollbar-arrow-color: #000;
    scrollbar-shadow-color: #107bd5;
}

    html ::-webkit-scrollbar, body ::-webkit-scrollbar, #mapCont ::-webkit-scrollbar {
        width: 10px;
        height: 3px;
    }

    html ::-webkit-scrollbar-button, body ::-webkit-scrollbar-button, #mapCont ::-webkit-scrollbar-button {
        background-color: #ffa12d;
    }

    html ::-webkit-scrollbar-track, body ::-webkit-scrollbar-track, #mapCont ::-webkit-scrollbar-track {
        background-color: #dedede;
    }

    html ::-webkit-scrollbar-thumb, body ::-webkit-scrollbar-thumb, #mapCont ::-webkit-scrollbar-thumb {
        height: 20px;
        background-color: #fbd48c;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

        html ::-webkit-scrollbar-thumb:hover, body ::-webkit-scrollbar-thumb:hover, #mapCont ::-webkit-scrollbar-thumb:hover {
            background-color: #ffa12d;
        }

input.inp_text {
    width: 177px;
    height: 25px;
    margin: 5px auto;
}

p.p_center {
    text-align: center;
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
    display: none;
}

.condTbl {
    display: table;
    margin: 0 auto;
}

    .condTbl .condTblHd {
        margin: 10px 0;
        width: 200%;
    }

    .condTbl .condTblR {
        display: table-row;
    }

    .condTbl .condTblC {
        display: table-cell;
    }

        .condTbl .condTblC input.datepicker {
            margin: 0 20px;
        }

.dtTbl {
    display: table;
    width: 95%;
    table-layout: fixed;
    -moz-user-select: text;
    -ms-user-select: text;
    -webkit-user-select: text;
    user-select: text;
}

    .dtTbl .dtTblHead {
        display: table-row;
    }

        .dtTbl .dtTblHead .dtTblHeadCol {
            display: table-cell;
            text-align: center;
            font-weight: bold;
            word-spacing: 100px;
            vertical-align: middle;
            border-bottom: 1px solid #000;
        }

        .dtTbl .dtTblHead .dtBigColumn {
            width: 30%;
        }

        .dtTbl .dtTblHead .dtSmlCol {
            width: 7%;
        }

    .dtTbl .dtRwGr {
        display: table-row-group;
        cursor: pointer;
        width: 98%;
    }

    .dtTbl .dtR {
        display: table-row;
    }

    .dtTbl .dtC {
        display: table-cell;
        padding: 5px;
        border-bottom: 1px solid #000;
    }

#settingsDiv {
    display: table-cell;
    float: right;
}

#evTblDiv {
    display: none;
    top: 50%;
    left: 50%;
    font: 1.5em 'calibri' 'sans-serif';
    overflow: hidden;
    position: absolute;
    width: 900px;
    height: 400px;
    margin-top: -200px;
    margin-left: -450px;
    z-index: 10;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #ffa12d;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

    #evTblDiv #evTblHdr {
        height: 50px;
        padding: 10px 0;
        border-bottom: 2px solid #000;
        background: #dedede;
        text-transform: uppercase;
    }

    #evTblDiv #evTblBd {
        margin-top: 2px;
        position: absolute;
        overflow-y: scroll;
        width: 100%;
        height: 290px;
    }

    #evTblDiv #evTblFtr {
        height: 50px;
        padding: 10px 0;
        position: absolute;
        bottom: 0;
        width: 100%;
        background: #dedede;
    }

.addTbl {
    display: table;
    margin: 0 auto;
    width: 60%;
}

    .addTbl .addTblR {
        display: table-row;
    }

    .addTbl .addTblC:first-child {
        text-align: left;
    }

    .addTbl .addTblC:nth-child(2) {
        text-align: right;
    }

    .addTbl .addTblC {
        display: table-cell;
        width: 50%;
        border-bottom: 1px solid #000;
    }

    .addTbl .addTblRCl {
        display: table-row;
        width: 50%;
        border-bottom: 1px solid #000;
    }

#selAllChB, .chckBx {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

.mainTbl {
    width: 95%;
    display: table;
    margin: 0 auto;
    table-layout: fixed;
}

    .mainTbl .mainTblHead {
        display: table-header-group;
        text-align: center;
        font-weight: bold;
    }

    .mainTbl .mainTblRow {
        display: table-row;
        cursor: pointer;
        text-align: center;
        height: 25px;
    }

    .mainTbl .mainTblCell {
        display: table-cell;
        padding-left: 5px;
        padding-right: 5px;
        white-space: nowrap;
        vertical-align: middle;
        border-bottom: 1px solid #000;
    }

.sealedTblRows {
    display: table-row-group;
}

.nonVisible {
    display: none;
}

.tbls {
    border-collapse: collapse;
    margin-top: 5px;
}

    .tbls td:not(:first-child) {
        width: 32%;
    }

    .tbls th, .tbls td {
        padding: 10px 20px;
        border: 1px solid #000;
        text-align: center;
    }

#sliderWrap {
    margin: 0 auto;
    width: 300px;
}

    #sliderWrap #openCloseWrap {
        position: absolute;
        margin: 95px 0 0 120px;
        font-size: 12px;
        font-weight: bold;
    }

    #sliderWrap #slider {
        position: absolute;
        background-image: url(/content/images/slider.png);
        background-repeat: no-repeat;
        background-position: bottom;
        width: 300px;
        height: 159px;
        z-index: 100;
        margin-top: -141px;
    }

        #sliderWrap #slider #sliderContent {
            padding: 10px;
        }

        #sliderWrap #slider img {
            border: 0;
        }

#listhistoryplace li {
    padding: 5px 5px 5px 14px;
    background-color: #fff;
    border-bottom: 1px solid #000;
    list-style: none;
    cursor: pointer;
}

    #listhistoryplace li:hover {
        background-color: #f1f1f1;
    }

    #listhistoryplace li.title_history {
        background-color: #fff;
        text-align: center;
        cursor: default;
    }

        #listhistoryplace li.title_history:hover {
            background-color: #fff;
        }

#snglConf {
    display: none;
    font: 1.4em 'calibri' 'sans-serif';
    background: #dedede;
    margin: 0 auto;
    vertical-align: middle;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 110;
    width: 550px;
    height: 100px;
    margin-top: -100px;
    margin-left: -225px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border: 2px solid #ffa12d;
    border-radius: 10px;
}

    #snglConf input {
        margin: 7px 10px;
        border: 1px solid #000;
    }

    #snglConf > div div:first-child > div {
        padding: 5px 0;
        text-transform: uppercase;
    }

    #snglConf > div div:nth-child(2) > div {
        background: #fff;
        padding: 15px 10px;
        border-bottom: 1px solid #000;
        border-top: 1px solid #000;
    }

.covDiv {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(71,66,66,.5);
    z-index: 105;
    width: 100%;
    height: 100%;
    text-align: center;
}

    .covDiv img {
        left: 48%;
        position: absolute;
        top: 40%;
    }

.usrWaitCoverDiv {
    width: 510px;
    height: 300px;
    display: none;
    text-align: center;
    background-color: #808080;
    vertical-align: middle;
    overflow-y: scroll;
}

#new-route {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.obj-route {
    width: 16px;
    height: 24px;
    left: -8px;
    top: -12px;
    position: relative;
    display: block;
}

.delete_place {
    cursor: pointer;
    margin-left: 5px;
}

#panel-route {
    float: left;
    width: 100%;
    display: none;
}

    #panel-route span {
        width: 100%;
    }

    #panel-route input[type=text] {
        width: 90%;
    }

.hiddenInfo {
    overflow: hidden;
    display: none;
    width: 450px;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.tabCont {
    display: none;
}

    .tabCont.active {
        display: block;
        height: 100%;
        overflow-x: auto;
        position: relative;
        width: auto;
    }

.mp-toggle {
    background: #fbd48c;
    border: 1px solid #ffa12d;
    padding: 16px 3px;
    width: 11px;
    position: absolute;
    right: -12px;
    top: 50%;
    margin-top: -36px;
    border-radius: 0 5px 5px 0;
}

.clear {
    clear: both;
}

#wrapper #monPanel {
    border: 1px solid #ffa12d;
    position: fixed;
    background: #fff;
    width: 70px;
    float: left;
    z-index: 99;
    top: 0;
    left: 0;
    bottom: 0;
}

    #wrapper #monPanel #tabs {
        display: none;
    }

        #wrapper #monPanel #tabs #tabsHdrs {
            background: #f5f3e7;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            overflow: hidden;
            border-radius: 0 10px 0 0;
            -webkit-border-radius: 0 10px 0 0;
            -moz-border-radius: 0 10px 0 0;
            -khtml-border-radius: 0 10px 0 0;
        }

            #wrapper #monPanel #tabs #tabsHdrs ul {
                text-align: center;
                display: none;
            }

        #wrapper #monPanel #tabs #tabsCont {
            top: 50px;
            bottom: 20px;
            left: 0;
            right: 0;
            overflow-y: auto;
            position: absolute;
            font-size: 12px;
        }

            #wrapper #monPanel #tabs #tabsCont #objSect, #wrapper #monPanel #tabs #tabsCont #objHistSect, #wrapper #monPanel #tabs #tabsCont #usHistSect, #wrapper #monPanel #tabs #tabsCont #settSect, #wrapper #monPanel #tabs #tabsCont #usSect {
                text-align: center;
                overflow-y: auto;
                overflow-x: hidden;
                height: 100%;
            }

            #wrapper #monPanel #tabs #tabsCont div .blBold {
                color: #107bd5;
                font-weight: bold;
            }

            #wrapper #monPanel #tabs #tabsCont div .bl {
                color: #107bd5;
            }

            #wrapper #monPanel #tabs #tabsCont #usSect {
                position: relative;
            }

                #wrapper #monPanel #tabs #tabsCont #usSect #usCont {
                    position: absolute;
                    top: 5px;
                    bottom: 50px;
                    width: 100%;
                    overflow-y: scroll;
                }

                    #wrapper #monPanel #tabs #tabsCont #usSect #usCont .dtTbl {
                        margin-bottom: 2px;
                    }

                        #wrapper #monPanel #tabs #tabsCont #usSect #usCont .dtTbl .dtTblHead div:first-child {
                            width: 20%;
                        }

                        #wrapper #monPanel #tabs #tabsCont #usSect #usCont .dtTbl .dtRwGr {
                            font: 2em 'calibri' 'sans-serif';
                        }

                            #wrapper #monPanel #tabs #tabsCont #usSect #usCont .dtTbl .dtRwGr .isLocked {
                                background: #ffa4c0;
                            }

                #wrapper #monPanel #tabs #tabsCont #usSect #nwUsr {
                    width: 100%;
                    background: #fff;
                    padding: 5px;
                    position: absolute;
                    border-top: 1px solid #000;
                    bottom: 0;
                }

                #wrapper #monPanel #tabs #tabsCont #usSect #chPassCover {
                    position: fixed;
                    top: 0;
                    left: 0;
                    z-index: 5;
                    width: 100%;
                    height: 100%;
                    background: rgba(71,66,66,.5);
                }

                    #wrapper #monPanel #tabs #tabsCont #usSect #chPassCover #chPassCont {
                        position: absolute;
                        -webkit-border-radius: 5px;
                        -moz-border-radius: 5px;
                        border-radius: 5px;
                        width: 500px;
                        height: 200px;
                        background: #fff;
                        top: 50%;
                        left: 50%;
                        margin-top: -100px;
                        margin-left: -250px;
                    }

                        #wrapper #monPanel #tabs #tabsCont #usSect #chPassCover #chPassCont #chPassHd {
                            position: absolute;
                            padding-top: 9px;
                            width: 100%;
                            height: 40px;
                            background: #dedede;
                        }

                            #wrapper #monPanel #tabs #tabsCont #usSect #chPassCover #chPassCont #chPassHd label, #wrapper #monPanel #tabs #tabsCont #usSect #chPassCover #chPassCont #chPassHd span {
                                font-size: 1.5em;
                            }

                        #wrapper #monPanel #tabs #tabsCont #usSect #chPassCover #chPassCont #chPassBd {
                            position: absolute;
                            height: 120px;
                            width: 100%;
                            margin-top: 20px;
                        }

                            #wrapper #monPanel #tabs #tabsCont #usSect #chPassCover #chPassCont #chPassBd input[type=text] {
                                margin-top: 60px;
                            }

                        #wrapper #monPanel #tabs #tabsCont #usSect #chPassCover #chPassCont #chPassFtr {
                            position: absolute;
                            height: 40px;
                            width: 100%;
                            background: #dedede;
                            bottom: 0;
                            padding-top: 5px;
                        }

                            #wrapper #monPanel #tabs #tabsCont #usSect #chPassCover #chPassCont #chPassFtr button {
                                margin-left: 5px;
                                width: 100px;
                                border: 1px solid #000;
                            }

    #wrapper #monPanel #tbsMn {
        z-index: 104;
        position: relative;
        display: block;
        height: 95%;
        overflow-y: auto;
    }

        #wrapper #monPanel #tbsMn ul li {
            list-style-type: none;
        }

            #wrapper #monPanel #tbsMn ul li a {
                text-decoration: none;
                color: #107bd5;
                font-weight: bold;
                font-size: .92em;
            }

    #wrapper #monPanel #contentFooter {
        height: 20px;
        background-color: #f5f3e7;
        border-top: 1px solid #dedede;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }

#wrapper #mapCont {
    position: absolute;
    top: 0;
    right: 0;
    padding-left: 70px;
}

.arr-close {
    height: 17px;
    width: 11px;
    background-position: 0 0;
}

.topSt {
    vertical-align: top;
    padding-right: 5px;
}

.visible {
    display: block !important;
}

.objSelected {
    background-color: #ffa12d !important;
}

.yaElemImg {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#versionDiv {
    float: right;
    position: absolute;
    bottom: 65px;
    font-size: 20px;
    right: 10px;
}

.leftAlign {
    text-align: left;
}

.cntrAlign {
    text-align: center;
}

.rightAlign {
    text-align: right;
}

.mrgTp {
    margin-top: 10px;
}

.errSpan {
    color: #f00;
    font-size: 20px;
}

.vldCoor {
    color: #000;
    font: bold;
    font-weight: bold;
}

.nVldCoor {
    color: #8c8c8c;
}

.devOpen {
    background: #ffa4a4;
}

.devEvnts {
    background: #ffa4c0;
}

.rdBold {
    color: #f00;
    font-weight: bold;
}

.nwObj {
    background: #bced91;
}

.noScript {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    height: 100%;
    width: 100%;
    background-color: #fff;
}

#newUserForm {
    display: none;
    padding: 5px;
    margin: 0 5px;
}

.logins {
    font: 1.5em 'Verdana' sans-serif;
    border: 1px solid #000;
}

#pnlCont {
    display: none;
    height: 620px;
    width: 800px;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    position: absolute;
    margin-top: -310px;
    margin-left: -400px;
    top: 50%;
    left: 50%;
}

    #pnlCont #pnlHdr {
        height: 60px;
        background: #dedede;
        border-bottom: 1px solid #107bd5;
    }

        #pnlCont #pnlHdr h2 {
            margin: 14px 10px;
        }

    #pnlCont #pnlBd {
        height: 470px;
        overflow-y: scroll;
        margin-top: 5px;
        margin-bottom: 5px;
        background: #fff;
    }

        #pnlCont #pnlBd #objCover {
            width: 100%;
            height: 470px;
            z-index: 106;
            position: absolute;
            opacity: 0.5;
            background: gainsboro;
        }

        #pnlCont #pnlBd .objItm {
            font-size: 2.5em;
            padding: 5px;
            margin: 5px;
            display: inline-block;
            border: 1px solid #000;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            cursor: pointer;
        }

        #pnlCont #pnlBd .usObj {
            border: 1px solid #f00;
        }

        #pnlCont #pnlBd .objSel {
            background: #6f6ff6;
            color: #dedede;
        }

        #pnlCont #pnlBd .smlObj {
            width: 130px;
        }

        #pnlCont #pnlBd .lrgObj {
            width: 200px;
        }

    #pnlCont #pnlFtr {
        height: 80px;
        background: #dedede;
        border-top: 1px solid #107bd5;
    }

        #pnlCont #pnlFtr div:first-child input[type=checkbox] {
            width: 30px;
            height: 30px;
        }

        #pnlCont #pnlFtr div:first-child span {
            font-size: 1.5em;
        }

        #pnlCont #pnlFtr button {
            height: 50px;
            width: 100px;
            margin: 8px 6px 0 0;
            border: 1px solid #000;
        }

.contMenu {
    display: none;
    position: fixed;
    padding: 12px 0;
    background-color: #fff;
    border: solid 1px #dedede;
    box-shadow: 1px 1px 2px #dedede;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

    .contMenu ul {
        list-style: none;
        margin: 0;
        padding: 0;
        background: #fff;
        border: 0 0 5px 5px;
    }

        .contMenu ul li {
            display: list-item;
            text-align: left;
            width: 100%;
            margin-bottom: 4px;
            padding: 5px 0;
            border-bottom: 1px solid #dedede;
        }

            .contMenu ul li:first-child {
                border-top: 1px solid #dedede;
            }

            .contMenu ul li:last-child {
                margin-bottom: 0;
            }

            .contMenu ul li a {
                display: block;
                padding: 4px 12px;
                color: #107bd5;
                text-decoration: none;
            }

                .contMenu ul li a:hover {
                    color: #fff;
                    background-color: #107bd5;
                }

.contMenuAct {
    display: block;
    z-index: 100;
}
